input[type="text"]{
    outline: none;
    background: none;
    border: none;
  }
  button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 21px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
  }
  .TodoApp {
    text-align: center;
    margin: 100px 20% 0 auto;
    background-image: url('note_background.png');
    width: 556px;
    height: 720px;
    text-align: center;
  }
  .TodoHead {
    font-family: 'Nanum Pen Script', cursive;
  }
  .TodoHead h1 {
    margin: 0;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    color: rgb(255, 232, 158);
  }
  .TodoHead p {
    margin: 5px 20px 0 0;
    font-size: 20px;
    color: red;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }
  .TodoBody {
    font-family: 'Gaegu', cursive;
    font-weight: bold;
  }
  .SubmitTodo {
    padding: 50px 0;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
  }
  .SubmitTodo input[type="text"]{
    width: 220px;
    border: 0 double rgb(161, 0, 0);
    border-width: 0 0 3px 0;
    margin: 0 10px;
    color: rgb(161, 0, 0);
    font-size: 16px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    text-align: center;
  }
  .SubmitTodo button{
    color: rgb(161, 0, 0);
  }
  .SubmitTodo button:hover {
    animation: shake 2 0.2s;
  }
  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform:  rotate(-10deg); }
    100% { transform:  rotate(0deg); }
  }
  .Toggler {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0 65px;
    align-items: flex-end;
  }
  .TogglerTodo {
    font-size: 23px;
    color: rgb(255, 74, 74);
  }
  .TogglerTodo i {
    position: relative;
    left: 10px;
    top: 3px;
  }
  .SubmitBtn {
    display: inline-flex;
    width: 60px;
    justify-content: space-between;
    font-size: 16px;
  }
  .fa-chevron-down {
    position: relative;
    top: 1px;
    transition: all 0.4s ease;
  }
  .SubmitBtn .IconClicked {
    transform: rotate(-180deg) !important;
  }
  .TodoCover {
    height: 502px;
    overflow: hidden;
  }
  .TodoList {
    margin-top: 10px;
    height: 433.13px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: -10;
  }
  .WhatTodo {
    margin: 5.1px 60px;
    text-align: left;
  }
  .TodoId {
    font-size: 25px;
    margin-right: 4px;
    color: rgb(177, 86, 86);
  }
  .TodoTitle {
    margin-right: 10px;
  }
  .IconBox {
    cursor: pointer;
    display: inline-block;
    height: 16px;
  }
  .fa-times {
    transition: all 0.5s ease;
  }
  .IconBox:hover .fa-times {
    transform: rotate(180deg);
    color: red;
  }
  .EachTodo {
    cursor: pointer;
  }
  .TodoPage {
    display: flex;
    height: 59px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(104, 41, 41);
  }
  .Arrows {
    display: inline-block;
    height: 24px;
    cursor: pointer;
  }
  .Arrows .fas {
    transition: all 0.25s ease;
  }
  .Arrows:hover .fa-reply {
        transform: rotate(-30deg);
  }
  .Arrows:hover .fa-share {
        transform: rotate(30deg);
  }
  .PageNum {
    margin: 0 15px;
  }